.add-skill{
    width: 70%;
    margin-left: 35%;
    padding-top: 8rem;
}
.addskill-container{
    border: 1px solid #000;
}
#required-skill{
    margin-left: 2.5%;
}
#skillcard-title{
    border-bottom: 2px solid #000;
    margin-left: 1.5%;
}
.skill-card-image{
    font-size: 1.5rem;
    border: 30px solid #000;
    border-radius: 50%;
    float: left;
    margin-right: 10%;
}
