.news-detail{
    margin-left: 35rem;
    padding-top: 8rem;
}
.news-detail-con,.news-detail-content{
    float: left;
    width: 70%;
    margin-top: 5%;
}
#news-detail-tit{
    float: left;
    width: 50%;
    margin-right: 25%;
}
.news-detail-content{
    border: 1px solid transparent;
    background-color: #c4c4c4;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.consent-con{
    float: left;
    margin-left: 50%;
    margin-right: 10%;
}
#consent-btn,#torn-down-btn{
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 20px;
}
#consent-btn:hover,#torn-down-btn:hover{
    background-color: #db9006;
    color: #ffffff;
}
