.skillsignup-detail-container{
    margin-left: 30%;
    padding-top: 8rem;
}
#skill-signup{
    font-size: 3rem;
    border-bottom: 2px solid #000;
    width: 90%;
    
}
.skillcheckbox-container{
    border: 1px solid #000;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 10%;
    width: 90%;
}
.skill-genre{
    font-size: 1.5rem;
    width: 30%;
    margin-top: 1%;
}
.skill-genre-con{
    float: left;

    margin-bottom: 2.5%;
}
.skill-button{
    float: left;
    margin-top: 2.5%;
}
.skill-sel{
    border: 1px solid transparent;
    background-color: transparent;
}
.skillsignup-back-btn{
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.skillsignup-comp-btn{
    float: right;
    width: 20%;
    margin-right: 20%;
}
#skillsignup-back-btn,#skillsignup-comp-btn{
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px 20px;
}
#skillsignup-back-btn:hover,#skillsignup-comp-btn:hover{
    background-color: #db9006;
    color: #ffffff;
}




