.skillsearch-container{
    background-color: #c4c4c4;
    color: #ffffff;
    position: fixed;
    top: 6rem;
    width: 15%;
    margin-top: 1%;
    margin-left: 80%;
}
.search-title{
    margin-left: 10%;
}
#serch-text{
    border: 1px solid #000;
    border-radius: 4px;
    width: 80%;
}
.serch-button{
    margin-top: 20%;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
}
.serch-button:hover{
    background-color: #db9006;
    color: #ffffff;
    border-radius: 5px;
}
.skill-genle{
    border-bottom: #c4c4c4;
}
.skill-contailer{
    margin-left: 10%;
}
.skill-checkbox{
    width: 100%;
}
