.skill-search-detail{
    background-color: #c4c4c4;
    position: fixed;
    top: 20%;
    border: 2px solid #000;
    border-radius: 50px;
    width: 45%;
    margin-left: 35%;
    padding: 10%;
    z-index: 4;
}
#search-skillimage-container{
    float: left;
    height: 20rem;
    margin-right: 20%;
}
.search-about-skill{
    margin-top: 5%;
    font-size: 1rem;
}
.skilldel-save-con{
    margin-top: 10%;
}
.skilldel-save-btn{
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 20px;
}
.skilldel-save-btn:hover{
    background-color: #db9006;
    color: #ffffff;
}
