.submenu-bulletin-space{
    background-color: #c4c4c4;
    position: fixed;
    top:9%;
    z-index: 2;
    width: 100%;
    height: 7%;
    padding-top: 1rem;
}
#submenu-bulletin-tit{
    font-size: 2rem;
    padding-left: 2.5%;
    float: left;
}
.user-sorting{
    float: left;
    margin-top: 0.5rem;
    margin-left: 50%;
}