.submenu-bulletin-space{
    background-color: #c4c4c4;
    position: fixed;
    top: 10%;
    z-index: 2;
    width: 55%;
    height: 10%;
    margin-bottom: 3rem;
    margin-top: 0;
    padding-top: 1%;
}
#submenu-bulletin-tit{
    font-size: 2rem;
    padding-left: 2.5%;
    border-bottom: 1px solid #000;
}