.recruit-detail {
  position: absolute;
  top: 7rem;
  width: 50%;
  margin-left: 35%;
}
.recruit-detail-your-container {
  border: 1px solid transparent;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
.recruit-title {
  margin-top: 5%;
}
.recruit-title,
.recruit-over,
.recruit-skill-title,
.now-number,
#recruit-day {
  margin-bottom: 2.5%;
  margin-left: 1.5%;
  border-bottom: 2px solid #a3a3a3;
}
.recruit-title-con,
.recruit-over-con,
.recruit-skill-con,
.now-number-count,
#recruit-day-con {
  margin-left: 2.5%;
}
.recruit-title-con {
  font-size: 1.5rem;
}
.recruit-cate {
  margin-left: 40%;
}
.recruit-detail-btn-con {
  text-align: center;
}
.recruit-detail-button {
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 1%;
  padding: 10px 20px;
}
.recruit-detail-button:hover {
  background-color: #db9006;
  color: #ffffff;
}
.recruit-over-con,
.now-number-count,
.recruit-skill-con {
  font-size: 1.2rem;
}
.recruit-over-con-box {
  height: 15rem;
}
.scroll {
  overflow: auto;
}
.scrolly {
  overflow: hidden;
  overflow-y: scroll;
}
.menu-list {
  white-space: nowrap;
}
