.recruit-upd-btn-con,
.recruit-del-btn-con {
  float: right;
}
.recruit-upd-btn-con {
  margin-right: 35%;
}
.recruit-del-btn-con {
  margin-right: 30%;
}
.recruit-update-button,
.recruit-delete-button {
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
}
.recruit-update-button:hover,
.recruit-delete-button:hover {
  background-color: #db9006;
  color: #ffffff;
}
// inputテキストのデザイン
// height: 2.2rem;// 場合によって変わる
// background-color: #f8f9fa;
// border-radius: 5px;
// border: 1px solid transparent;
