.chat-room-tit{
    position: fixed;
    top: 9%;
    z-index: 2;
    margin-left: 25rem;
    padding-top: 1.3rem;
    background-color: #c4c4c4;
    width: 100%;
    height: 7%;
    
}
#chat-user-name{
    padding-left: 2.5%;
    color: #000;
}
.chat-room{
    margin-left: 30rem;
    padding-top: 14rem;
    height: 100%;
}
.chat-container-partner{
    width: 30%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}
.chat-container-me{
    float: left;
    width: 30%;
    margin-left: 55%;
}
.chat-day{
    margin-left: 70%;
}
.chat-content-con-partner,.chat-content-con-me{
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    padding: 1% 2.5%;
}
.chat-content-con-me{
    float: left;
}
.chat-enter{
    position: fixed;
    top: 92%;
    z-index: 2;
    width: 100%;
    height: 8%;
    margin-left: 25rem;
    background-color: #ffffff;
}
#chat-ent-content{
    width: 50%;
    margin: 1rem 3%;
    padding: 5px;
}
.chat-btn-submit{
    margin-left: 1%;
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    
}
.chat-btn-submit:hover{
    background-color: #db9006;
    color: #ffffff;
}
#search-space{
    padding-top: 10%;
    margin-bottom: 10%;
}
.chat-room-box{
    height: 55rem;
  }
  .scroll{
    overflow:auto;
  }
  .scrolly{
    overflow:hidden;
    overflow-y:scroll;
  }
  .menu-list{
   white-space:nowrap; 
  }