.top-dev-list,
.top-sty-list {
  margin-left: 25rem;
}
.top-dev-recruit {
  position: absolute;
  top: 10rem;
  width: 55%;
}
.top-sty-recruit {
  position: absolute;
  top: 44rem;
  width: 55%;
}
.top-recruit-list {
  background-color: #545454;
  color: #ffffff;
  border-bottom: 2px solid #3f3f3f;
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 7.5%;
}
#people {
  margin-left: 10%;
}
#tio-title-sentence,
.top-skill {
  font-size: 20px;
}
.top-skill-container {
  float: left;
}
.top-readmore-detail {
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 20%;
  padding: 5px 10px;
}
.top-readmore-detail:hover {
  background-color: #db9006;
  color: #ffffff;
}
