.top-news-list{
    background-color: #8c8c8c;
    z-index: 3;
}
.top-newslist-btn{
    background-color: #c4c4c4;
    padding: 40px 90px;
    border: 1px solid #000;
}
.top-newslist-con{
    margin-left: 3.5%;
}
.news-box{
    width:25rem;
    height:44rem;
  }
  .scroll{
    overflow:scroll;
  }
  .scrolly{
    overflow:hidden;
    overflow-y:scroll;
  }
  .menu-list{
   white-space:nowrap; 
  }


